/* Styling for the map itself */
.MapComponent {
    width: 100%; /* Full width of the container */
    height: 100%; /* Full height of the container */
    position: relative;
}

/* Styling for routing controls */
.routingControls {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    width: 250px; /* Adjust the width as needed */
    max-height: 300px; /* Set a max height for the control */
    background: rgba(255, 255, 255, 0.748);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.096);
    overflow-y: auto; /* Enable scrolling if content exceeds height */
}

